#universe {
    background-color: black;
    position: fixed;
    height: 100%;
    width: 100%;
}

#overlay{
    color:white;
    position: fixed;
    display: inline-grid;
    grid-template-columns: auto auto auto;
}

#overlay span {
    display: flex;
    justify-content: space-evenly;
    padding: .5em;
}

#lungs {
    background-color: gray;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 40vw;
    width: 40vw;
    border-radius: 50%;
    /*animation-name: lungsAnimation;*/
    /*animation-duration: 15s;*/
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.1, 0.3, 0.4, 1);
}

#counter {
    font-size: 10vw;
    color: white;
    position: relative;
    text-align: center;
    animation-name: lungsAnimation;
    /*padding-top: 5vw;*/
    padding-bottom: 5vw;
}

@keyframes lungsAnimation {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.3);
        /* background-color: hsl(340, 25%, 50%); */
    }
}

body {
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 0px;
}